{% extends 'base.html' %}

{% block content %}
{% include 'partials/header.html' %}

<main class="container mx-auto px-4 py-8 mt-16 mb-3 flex-grow">
    <h2 class="text-2xl font-bold mb-6">فعالیت‌ها</h2>
    <div class="bg-white dark:bg-gray-800 rounded-lg shadow-md overflow-hidden">
        {% regroup activities by created_at.date as activity_list %}
        
        {% for date, activities in activity_list %}
            <div class="p-4 border-b border-gray-200 dark:border-gray-700">
                <h3 class="font-semibold mb-2">
                    {% if date == today %}
                        امروز
                    {% elif date == yesterday %}
                        دیروز
                    {% else %}
                        {{ date|date:"j F" }}
                    {% endif %}
                </h3>
                <div class="space-y-4">
                    {% for activity in activities %}
                        <div class="flex items-center">
                            <a href="{% url 'account:profile' username=activity.actor.username %}">
                                <img src="{% if activity.actor.profile_pics %}{{ activity.actor.profile_pics.url }}{% else %}https://via.placeholder.com/40{% endif %}" alt="تصویر پروفایل" class="w-10 h-10 rounded-full mx-3">
                            </a>
                            <p class="">
                                <span class="font-semibold"><a href="{% url 'account:profile' username=activity.actor.username %}">{{ activity.actor.username }}</a></span>
                                {% if activity.activity_type == 'follow' %}
                                    شما را دنبال کرد.
                                {% elif activity.activity_type == 'follow_request' %}
                                    میخواهد شما را دنبال کند.
                                {% elif activity.activity_type == 'like' %}
                                    {% if activity.post %}
                                        <a href="{% url 'posts:post_detail' activity.post.id %}">پست شما را پسندید.</a>
                                    {% else %}
                                        پست شما را پسندید.
                                    {% endif %}
                                {% elif activity.activity_type == 'comment' %}
                                    {% if activity.post %}
                                        <a href="{% url 'posts:post_detail' activity.post.id %}">روی پست شما نظر داد.</a>
                                    {% else %}
                                        روی پست شما نظر داد.
                                    {% endif %}
                                {% elif activity.activity_type == 'reply' %}
                                    {% if activity.post %}
                                        <a href="{% url 'posts:post_detail' activity.post.id %}">به نظر شما پاسخ داد.</a>
                                    {% else %}
                                        به نظر شما پاسخ داد.
                                    {% endif %}
                                {% elif activity.activity_type == 'comment_like' %}
                                    {% if activity.post %}
                                        <a href="{% url 'posts:post_detail' activity.post.id %}">نظر شما را پسندید.</a>
                                    {% else %}
                                        نظر شما را پسندید.
                                    {% endif %}
                                {% endif %}
                                <span class="text-gray-500 dark:text-gray-400 text-sm">{{ activity.created_at|timesince }} پیش</span>
                            </p>
                        </div>
                    {% endfor %}
                </div>
            </div>
        {% empty %}
            <p class="p-4 text-center text-gray-500 dark:text-gray-400">هیچ فعالیتی وجود ندارد.</p>
        {% endfor %}
    </div>
</main>

{% include 'partials/mobileMenu.html' %}
{% endblock %}