{% extends 'base.html' %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
    <div class="bg-white mt-20 dark:bg-gray-800 p-8 rounded-lg shadow-md max-w-md w-full mx-auto">
        <h1 class="text-3xl font-bold text-center text-pink-500 dark:text-pink-400 mb-6">بازیابی رمز عبور تکمیل شد</h1>

        <p class="text-center">رمز عبور شما با موفقیت بازیابی شد. حالا می‌توانید با رمز عبور جدید وارد سیستم شوید.</p>

        <div class="text-center mt-6">
            <a href="{% url 'account:login' %}" class="text-blue-700 text-sm">ورود به سیستم</a>
        </div>
    </div>
{% endblock %}