{% extends 'base.html' %}

{% block title %}{{title}}{% endblock %}

{% block content %}
    <div class="bg-white mt-20 dark:bg-gray-800 p-8 rounded-lg shadow-md max-w-md w-full mx-auto">
        <h1 class="text-3xl font-bold text-center text-pink-500 dark:text-pink-400 mb-6">{{title}}</h1>

        <div class="text-center mt-4">
            <p class="text-sm">ایمیلی برای شما ارسال شده است. لینک بازیابی رمز عبور را در ایمیل خود بررسی کنید.</p>
            <div class="text-center mt-6">
            <a href="{% url 'account:password_reset' %}" class="text-blue-700 text-sm">ایمیل بازیابی رمز عبور را دریافت نکردید ؟</a>
            <br>
            <a href="{% url 'account:login' %}" class="text-blue-700 text-sm">ورود به سیستم</a>
            </div>
        </div>
    </div>
{% endblock %}