{% extends 'base.html' %}
{% load static widget_tweaks %}

{% block title %}
    {{title}}
{% endblock %}

{% block content %}

    {% include 'partials/header.html' %}

    <main class="container mx-auto px-4 py-8 mt-16 flex-grow">
        <h2 class="text-3xl font-bold mb-8 text-center text-gray-800 dark:text-gray-200">ویرایش پروفایل</h2>
        <form class="max-w-2xl mx-auto bg-white dark:bg-gray-800 rounded-lg shadow-md p-8" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="mb-8">
                <label for="profile-picture" class="block mb-2 font-semibold text-gray-700 dark:text-gray-300">تصویر پروفایل</label>
                <div class="flex items-center justify-center">
                    <div class="relative">
                        <img src="{% if request.user.profile_pics %}{{ request.user.profile_pics.url }}{% else %}https://via.placeholder.com/150{% endif %}" alt="تصویر پروفایل" class="w-32 h-32 rounded-full object-cover border-4 border-pink-500 dark:border-pink-400">
                        <label for="profile-picture" class="absolute bottom-0 right-0 bg-pink-500 hover:bg-pink-600 text-white rounded-full w-10 h-10 flex items-center justify-center cursor-pointer transition duration-300">
                            <i class="fas fa-camera"></i>
                        </label>
                    </div>
                </div>
                {% if form.profile_pics.errors %}
                        <p class="text-red-500 text-sm mt-1 text-center">{{ form.profile_pics.errors.0 }}</p>
                {% endif %}
                {{ form.profile_pics|add_class:"hidden"|attr:"id:profile-picture" }}
            </div>
            <div class="grid grid-cols-1 md:grid-cols-2 gap-6">
                <div>
                    <label for="username" class="block mb-2 font-semibold text-gray-700 dark:text-gray-300">نام کاربری</label>
                    {{ form.username|add_class:"w-full px-4 py-2 border rounded-md dark:border-gray-700 dark:bg-gray-800 focus:outline-none focus:ring-2 focus:ring-pink-500 dark:focus:ring-pink-400 transition duration-300" }}
                    {% if form.username.errors %}
                        <p class="text-red-500 text-sm mt-1">{{ form.username.errors.0 }}</p>
                    {% endif %}
                </div>
                <div>
                    <label for="email" class="block mb-2 font-semibold text-gray-700 dark:text-gray-300">ایمیل</label>
                    {{ form.email|add_class:"w-full px-4 py-2 border rounded-md dark:border-gray-700 dark:bg-gray-800 focus:outline-none focus:ring-2 focus:ring-pink-500 dark:focus:ring-pink-400 transition duration-300" }}
                    {% if form.email.errors %}
                        <p class="text-red-500 text-sm mt-1">{{ form.username.errors.0 }}</p>
                    {% endif %}
                </div>
            </div>
            <div class="mt-6">
                <label for="bio" class="block mb-2 font-semibold text-gray-700 dark:text-gray-300">بیوگرافی</label>
                {{ form.bio|add_class:"w-full px-4 py-2 border rounded-md dark:border-gray-700 dark:bg-gray-800 focus:outline-none focus:ring-2 focus:ring-pink-500 dark:focus:ring-pink-400 transition duration-300 resize-none"|attr:"rows:4" }}
                {% if form.bio.errors %}
                    <p class="text-red-500 text-sm mt-1">{{ form.bio.errors.0 }}</p>
                {% endif %}
            </div>
            <div class="grid grid-cols-1 md:grid-cols-2 gap-6 mt-6">
                
                <div class="mt-5">
                    <label for="private-account" class="flex items-center cursor-pointer">
                        <div class="relative">
                            {{ form.is_private|add_class:"sr-only peer"|attr:"id:private-account" }}
                            <div class="w-11 h-6 bg-gray-200 rounded-full peer dark:bg-gray-700 peer-checked:after:translate-x-full rtl:peer-checked:after:-translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:top-[2px] after:start-[2px] after:bg-white after:border-gray-300 after:border after:rounded-full after:h-5 after:w-5 after:transition-all dark:border-gray-600 peer-checked:bg-pink-500"></div>
                        </div>
                        <span class="mr-3 text-sm font-medium text-gray-900 dark:text-gray-300">اکانت خصوصی</span>
                    </label>
                </div>
            </div>
            <div class="mt-8 text-center">
                <button type="submit" class="bg-pink-500 hover:bg-pink-600 text-white font-bold py-3 px-6 rounded-full transition duration-300 transform hover:scale-105">
                    ذخیره تغییرات
                </button>
            </div>
        </form>
    </main>

    {% include 'partials/mobileMenu.html' %}

{% endblock %}

{% block script %}
{% endblock %}