

<a href="{{ activity_url }}" id="activityIcon" class="hidden md:inline-block text-gray-700 dark:text-gray-300 hover:text-pink-500 dark:hover:text-pink-400 text-xl relative">
    <i class="fas fa-heart"></i>
    <span id="activityCount" class="absolute -top-1 -right-2 bg-red-500 text-white text-xs rounded-full h-4 w-4 flex items-center justify-center" style="display: none;">
        0
    </span>
</a>

<script>
    var activityCountUrl = '{{ get_count_url }}';
</script>
<script src="{{ activity_js }}"></script>