<form method="post" class="mb-6 flex items-center" id="mainCommentForm">
    {% csrf_token %}
    <input type="text" name="content" placeholder="نظر خود را بنویسید..." class="flex-grow p-2 rounded-r-lg border border-gray-300 dark:border-gray-700 bg-gray-100 dark:bg-gray-700 text-sm">
    <button type="submit" class="ml-2 px-4 py-2 bg-pink-500 text-white rounded-l-lg text-sm">ارسال</button>
</form>

{% if comments %}
    <h3 class="font-semibold mb-4 text-sm">نظرات:</h3>
    
    <div id="commentsList" class="space-y-4">
        {% include "partials/comment_tree.html" with comments=comments %}
    </div>
{% else %}
    <p class="text-gray-500 text-center dark:text-gray-400 text-sm">هنوز نظری ثبت نشده است</p>
{% endif %}