{% load account_tags %}

<header class="bg-white dark:bg-gray-800 border-b border-gray-300 dark:border-gray-700 fixed top-0 left-0 right-0 z-50">
        <nav class="container mx-auto px-4 py-3 flex justify-between items-center">
            <h1 class="text-2xl font-bold text-pink-500 dark:text-pink-400"><a href="{% url 'posts:home' %}">Comma</a></h1>
            <div class="flex items-center gap-4">
                <!-- <a href="#" class="text-gray-700 dark:text-gray-300 hover:text-pink-500 dark:hover:text-pink-400 text-2xl md:text-xl relative">
                    <i class="fas fa-paper-plane"></i>
                    <span class="absolute -top-1 -right-2 bg-red-500 text-white text-xs rounded-full h-4 w-4 flex items-center justify-center">5</span>
                </a> -->
                <a href="{% url 'posts:search' %}" class="hidden md:inline-block text-gray-700 dark:text-gray-300 hover:text-pink-500 dark:hover:text-pink-400 text-xl"><i class="fas fa-compass"></i></a>
                <a href="{% url 'posts:create' %}" class="hidden md:inline-block text-gray-700 dark:text-gray-300 hover:text-pink-500 dark:hover:text-pink-400 text-xl"><i class="fas fa-plus-square"></i></a>
                
                {% activity_icon %}

                <a href="{% url 'account:profile' username=request.user.username %}" class="hidden md:inline-block text-gray-700 dark:text-gray-300 hover:text-pink-500 dark:hover:text-pink-400 text-xl"><i class="fas fa-user"></i></a>
                <form action="{% url 'account:logout' %}" method="post" class="hidden md:inline-block">
                    {% csrf_token %}
                    <button class="text-gray-700 dark:text-gray-300 hover:text-pink-500 dark:hover:text-pink-400 text-xl">
                        <i class="fa-solid fa-right-from-bracket"></i>
                    </button>
                </form>
            </div>
        </nav>
</header>